<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    <!-- cdn 资源引用 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <!--继承父类文本锁，成对出现 -->
    {% block base %}
    <!-- 继承页面内容-->
    {% endblock %}
<div class="low" role="main">
    <div class="page">
        <footer class="footer" style="text-align: center">
            <p>莲花白，1059161810@qq.com</p>
        </footer>
    </div>
</div>
</body>
</html>