<!-- 继承父类htnl头尾-->
{% extends "base.html" %}
{% block base %}
    <div style="height: 1100px; background-image: url(https://vipp.com/sites/default/files/styles/hero_hotel__top/public/vipp-451-chair-lifestyle-3-high_h.jpg?itok=OAtY03vI)">
        <div class="container" style="width: 500px">

      <form class="form-signin" style="width: 300px" action="/index/" method="post">
        <h2 class="form-signin-heading" style="text-align: center">接口测试平台</h2>
        <label for="inputUsername" class="sr-only">账号</label>
        <input type="text" id="username" class="form-control" placeholder="username"  name="username">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password">
        {% csrf_token %}
        <div style="color: red">{{ error }}</div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div>
    </div>
{% endblock %}