<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1 style="color: blue">hello ,{{ name }}</h1><br>
</head>
<body>
    <form action="/index/" method="post">
        <p>username: <input type="text" name="username" /></p>
        <p>
            password: <input type="password" name="password" />
        </p>
        {% csrf_token %}
        <div style="color: red">{{ error }}</div>
        <input type="submit" value="login" />
    </form>

</body>
</html>